In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
from scipy.interpolate import interp1d 
import matplotlib.pyplot as plt
from matplotlib.pyplot import rcParams
rcParams['figure.figsize'] = 16,8

In [6]:
# load data

In [7]:
energy_0 = pd.read_csv("train.0.0.csv")

In [8]:
energy_0.head()

   building_id  meter            timestamp  meter_reading
0            0      0  2016-01-01 00:00:00            0.0
1            0      0  2016-01-01 01:00:00            0.0
2            0      0  2016-01-01 02:00:00            0.0
3            0      0  2016-01-01 03:00:00            0.0
4            0      0  2016-01-01 04:00:00            0.0

In [10]:
energy_0["timestamp"] = pd.to_datetime(energy_0["timestamp"])
energy_0["hour"] = energy_0["timestamp"].dt.hour

In [11]:
energy_0

      building_id  meter           timestamp  meter_reading  hour
0               0      0 2016-01-01 00:00:00          0.000     0
1               0      0 2016-01-01 01:00:00          0.000     1
2               0      0 2016-01-01 02:00:00          0.000     2
3               0      0 2016-01-01 03:00:00          0.000     3
4               0      0 2016-01-01 04:00:00          0.000     4
...           ...    ...                 ...            ...   ...
8779            0      0 2016-12-31 19:00:00        232.071    19
8780            0      0 2016-12-31 20:00:00        189.069    20
8781            0      0 2016-12-31 21:00:00        169.958    21
8782            0      0 2016-12-31 22:00:00        169.958    22
8783            0      0 2016-12-31 23:00:00        175.418    23

[8784 rows x 5 columns]